Django==4.2.16
python-dotenv==1.0.1
psycopg2-binary==2.9.10
django-jsonform==2.23.1
django_import_export==4.1.1
django-sql-explorer==5.3
ippanel==2.0.7
django-allauth==65.0.2
requests==2.32.3
requests-oauthlib==2.0.0
python3-openid==3.2.0
PyJWT==2.9.0
python3-saml==1.16.0
django-allauth-ui==1.5.0
django-widget-tweaks==1.5.0
slippers==0.6.2
cryptography==43.0.3
django-jazzmin==3.0.1