{% extends 'score/score_base.html' %}

{% block page_header %}لیست دروس{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block before_card %}
    {% if lessons %}
        <section>
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th>
                            </th>
                            <th class="text-2xl text-right" style="direction: rtl">
                                نام درس
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lesson in lessons %}
                            <tr>
                                <td class="text-left" style="direction: rtl">
                                    {% if request.user.is_authenticated %}
                                        <a class="btn btn-app bg-primary"
                                           href="{% url 'score:register_score' group_id=lesson.group.id %}">
                                            <i class="fas fa-folder">
                                            </i>
                                            ارائه ها
                                        </a>
                                    {% endif %}
                                    <a class="btn btn-app bg-info"
                                       href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        وضعیت
                                    </a>
                                </td>
                                <td class="text-right" style="direction: rtl">
                                    <a class="text-lg" href="{% url 'score:register_score' group_id=lesson.group.id %}">
                                        {{ lesson }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </section>
    {% else %}
        <h4 class="text-right">درسی یافت نشد</h4>
    {% endif %}
{% endblock %}
