<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>در حال انتقال ...</title>
</head>
<body>
<br>
<h1 style="text-align: center; font-size: xxx-large; direction: rtl">{{ message }}</h1>
<hr>
<h4 style="text-align: center; font-size: 2rem; direction: rtl">تا چند ثانیه دیگر به صفحه مورد نظر منتقل خواهید
    شد.</h4>
<h4 style="text-align: center; font-size: 1.8rem; direction: rtl">برای رفتن به صفحه مورد نظر روی <a href="{{ url }}">این
    لینک</a> کلیک کنید.</h4>
</body>
</html>