{% extends 'score/score_base.html' %}

{% block center_title %}لیست ارائه های درس {{ lesson }}{% endblock %}
{% block center_subtitle %}ارائه مورد نظرتان را انتخاب کنید{% endblock %}

{% block main_section %}
    <section>
        <div class="card">
            {#            <div class="card-header">#}
            {#                <h3 class="card-title">درس ها</h3>#}

            {#                <div class="card-tools">#}
            {#                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">#}
            {#                        <i class="fas fa-minus"></i>#}
            {#                    </button>#}
            {#                </div>#}
            {#            </div>#}
            <div class="card-body p-0">
                <table class="table table-striped projects table-bordered">
                    <thead>
                    <tr>
                        <th class="text-2xl"
                            style="text-align: center; direction: rtl; font-size: 20px; max-width: 60px">امتیاز
                        </th>
                        <th class="text-2xl" style="text-align: right; direction: rtl">موضوع ارائه</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for presentation in presentations %}
                        <tr>
                            <td style="text-align: center; direction: rtl">
                                <a class="text-lg"
                                   href="{% url 'score:register_score' group_id=lesson.group.id  presentation_id=presentation.id %}">
                                    {{ presentation.score_avr }}
                                </a>
                            </td>
                            <td style="text-align: right; direction: rtl">
                                <a class="text-lg"
                                   href="{% url 'score:register_score' group_id=lesson.group.id  presentation_id=presentation.id %}">
                                    {{ presentation }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </section>
{% endblock %}
