{% extends 'score/score_base.html' %}

{% block page_header %}لیست ارائه های درس {{ lesson }}{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block before_card %}
    <section>
        <div class="card">
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                    <tr>
                        <th class="text-2xl text-right" style="direction: rtl">
                            موضوع ارائه
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for presentation in presentations %}
                        <tr>
                            <td class="text-right" style="direction: rtl">
                                <a class="text-lg"
                                   href="{% url 'score:register_score' group_id=lesson.group.id %}">
                                    {{ presentation.subject }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </section>
{% endblock %}
