{% extends 'score/score_base.html' %}

{% block page_header %}ثبت امتیاز ارائه با موضوع {{ presentation.subject }}{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block card_title %}سوالات{% endblock %}

{% block card_body %}
    <div class="row margin" dir="rtl">
        <div dir="rtl" class="callout callout-info">
            <h5>امتیاز باقی مانده شما</h5>

            {% for key, value in score_balances.items %}
                <p>امتیاز شما در سوال {{ key }} : <b style="font-size: large">{{ value }}</b></p>
            {% endfor %}
        </div>
        <div>
            <form method="post" id="form1">
                {% csrf_token %}
                <div style="color: #dc3545">
                    {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                        <br>
                    {% endif %}
                    {% if form.errors %}
                        {{ form.errors }}
                        <br>
                    {% endif %}
                </div>
                <table class="table table-bordered" dir="rtl">
                    <thead id="table_head" class="whitespace: normal">

                    </thead>
                    <tbody id="table_body">

                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}

{% block card_footer %}
    <button type="submit" class="btn btn-primary" form="form1">ارسال</button>
{% endblock %}

{% block body_script %}
    <script>
        let tr = document.createElement("tr");
        let th = document.createElement("th");

        tr.setAttribute("id", "tr_head");
        document.getElementById("table_head").appendChild(tr);
        document.getElementById("tr_head").appendChild(th);

        {% for presentation in presentations %}
            th = document.createElement("th");
            th.innerText = "{{ presentation.subject }}";
            document.getElementById("tr_head").appendChild(th);
        {% endfor %}







        let count_question = 0;

        let div = document.createElement("div");
        let label = document.createElement("label");
        let input = document.createElement("input");
        let p = document.createElement("p");

        let name_question = "question" + count_question;
        let input_count_num = count_question + 1;

        {% for question in questions %}
            div = document.createElement("div");
            label = document.createElement("label");
            input = document.createElement("input");
            p = document.createElement("p");

            name_question = "question" + count_question;
            input_count_num = count_question + 1;

            div.setAttribute("id", "div_id_" + name_question);
            div.setAttribute("class", "form-group");
            div.setAttribute("dir", "rtl");
            document.getElementById("form1").appendChild(div);
            label.setAttribute("for", name_question);
            label.setAttribute("style", "direction: rtl");
            label.setAttribute("class", "float-right");
            label.innerText = "{{ question }}";
            document.getElementById("div_id_" + name_question).appendChild(label);
            input.setAttribute("id", name_question);
            input.setAttribute("name", name_question);
            input.setAttribute("type", "number");
            input.setAttribute("class", "form-control");
            input.setAttribute("placeholder", "امتیاز سوال " + input_count_num);
            input.setAttribute("min", "{{ presentation.lesson.questions.min_score }}");
            input.setAttribute("max", "{{ presentation.lesson.questions.max_score }}");
            input.required = true;
            document.getElementById("div_id_" + name_question).appendChild(input);
            p.setAttribute("class", "text-primary text-right");
            p.innerText = "عددی بین {{ presentation.lesson.questions.min_score }} تا {{ presentation.lesson.questions.max_score }} وارد کنید";
            document.getElementById("div_id_" + name_question).appendChild(p);
            count_question++;
        {% endfor %}

        count_question = 0;
        {% for score in score_list %}
            name_question = "question" + count_question;
            document.getElementById(name_question).setAttribute("value", "{{ score }}");
            count_question++;
        {% endfor %}
    </script>
{% endblock %}
